.notfound_page {
	height: 85vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	text-align: center;
}

.notfound_logo {
	width: 120px;
	height: 120px;
}

#notfound_text {
	margin: 10px;
}

#notfound_header {
	font-weight: 700;
	margin: 10px;

	font-size: 20px;
}

.notfound_buttonwrapper {
	display: -webkit-flex;
	display: flex;
	margin-block: 30px;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 14px !important;
	text-align: center;
}