.createuserform-tittle {
  font-weight: 500;
}

.form_grid {
  min-height: 300px;
  max-width: 100vw;
  margin: 20px auto 0;
}
.form_group {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 20px;
}

@media (max-width: 600px) {
  * {
    font-size: 12px;
  }
  .form_group {
    grid-template-columns: 1fr;
  }
}
