.loginpage-leftside {
  width: calc(40% + 5vw);
  margin: 10px;

  height: 100%;
}

.leftside_logo {
  width: 120px;
  min-height: 50px;

  margin: 15px auto 3rem 30px;
  object-fit: cover;
}

@media only screen and (max-width: 950px) {
  .loginpage-leftside {
    width: 100%;
    overflow-y: scroll;
  }
}
