.drawer_logo {
  width: 100px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.header_logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .app_header {
    left: 0 !important;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .avatar_text {
    display: none !important;
  }
  .app_header {
    left: 0 !important;
    width: 100%;
  }
}
