.edittagform_title {
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edittagform_footer {
	display: flex;
	justify-content: flex-end;
}

.edittagform_grid {
	min-height: 100px;
	max-width: 100vw;
	margin: 20px auto 0;
}

.edittagform_grid label {
	font-weight: 500;
	font-family: "Poppins";
	font-size: 0.8em !important;
}

.edittagform_grid option {
	background-color: red;
}

.edittagform_group {
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-gap: 20px;
}

.MuiFormControl-root:focus-within .MuiFormHelperText-root {
	display: none;
}

@media (max-width: 600px) {
	* {
		font-size: 12px;
	}

	.edittagform_group {
		grid-template-columns: 1fr;
	}

	.edittagedittagform_footer>* {
		width: 100%;
	}
}